n8n-JSON/googleSheets-to-gamil.json
{
  "name": "googleSheets-to-gamil",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94",
          "mode": "list",
          "cachedResultName": "ลงทะเบียน",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1125542992,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94/edit#gid=1125542992"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ],
      "id": "50a0fb17-5dae-4f8f-b250-a83f89babe9f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kLlTeyBaScW0pjoH",
          "name": "Google Sheets Trigger account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const serial = item.json[\"ประทับเวลา\"];\n\n  const excelEpoch = new Date(1899, 11, 30);\n  const date = new Date(excelEpoch.getTime() + serial * 86400000);\n\n  item.json[\"วันที่\"] = date.toLocaleString(\"th-TH\");\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        0
      ],
      "id": "bb542346-a77e-41fd-9401-d4882ebd0095",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "67703021@chonburi.spu.ac.th",
        "subject": "ส่งข้อมูลการลงทะเบียน",
        "emailType": "text",
        "message": "=รหัสนักศึกษา {{ $json['รหัสนักศึกษา'] }}\nชื่อ - นามสกุล {{ $json['ชื่อ - นามสกุล'] }}\nคณะ {{ $json['คณะ'] }}\nวันที่ลงทะเบียน {{ $json['วันที่'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "99fd6ef0-88a2-4b28-b859-7931c5a7445d",
      "name": "Send a message",
      "webhookId": "02be1362-f09a-4586-9185-da81d601762c",
      "credentials": {
        "gmailOAuth2": {
          "id": "dUdmISu2vsZwvOfO",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "67703021 นายธนิสร แซ่จึง \nFlow นี้เป็นการนำเสนอข้อมูลจาก google sheets แล้วแจ้งเตือนกลับไปที่ gmail",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -128
      ],
      "typeVersion": 1,
      "id": "33f10563-d565-48c6-8cec-8e44aa48045c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        240
      ],
      "id": "f9fb167a-6b20-4b3b-9cb1-6694d6cb0f82",
      "name": "Webhook",
      "webhookId": "a655dbb0-d141-4c7a-9546-b2d50cbc8343"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94",
          "mode": "list",
          "cachedResultName": "ลงทะเบียน",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1125542992,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIeM4TZXYAeA5PSl4091Y0rGDksFez0KoUhzs7xFl94/edit#gid=1125542992"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        240
      ],
      "id": "d949e1f1-0194-42e2-b996-42d269f1546c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P8gERVzurHC48Oqb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81b4c2ac-3202-4b40-bfd8-58cef096c335",
              "name": "tdate",
              "value": "={{ $json['ประทับเวลา'] }}",
              "type": "string"
            },
            {
              "id": "c79ed779-b266-4c38-8002-77df249dc8a1",
              "name": "id",
              "value": "={{ $json['รหัสนักศึกษา'] }}",
              "type": "number"
            },
            {
              "id": "41ec0f24-c9a0-4128-b2e2-7a4cda5fff9d",
              "name": "fullname",
              "value": "={{ $json['ชื่อ - นามสกุล'] }}",
              "type": "string"
            },
            {
              "id": "b128628a-6310-4fa0-9129-777de5a37d7c",
              "name": "department",
              "value": "={{ $json['คณะ'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        240
      ],
      "id": "74084334-c8b7-4a8c-8eb5-9b2d0af04408",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        240
      ],
      "id": "f054846f-9202-4d9d-9656-56064bb87acf",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Send a message": [
      {
        "json": {
          "id": "19cf0d002a546b1d",
          "threadId": "19cf0d002a546b1d",
          "labelIds": [
            "SENT"
          ]
        }
      },
      {
        "json": {
          "id": "19cf0d00558c44c0",
          "threadId": "19cf0d00558c44c0",
          "labelIds": [
            "SENT"
          ]
        }
      },
      {
        "json": {
          "id": "19cf0d0044e01923",
          "threadId": "19cf0d0044e01923",
          "labelIds": [
            "SENT"
          ]
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b0f4733-f71f-4503-9a07-d36d30e1425f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d539488681027e6183731e7466afaebfc0f47f2b8afb898e4e3db67bcc09eeb"
  },
  "id": "42pa7MXu2TiopsQp",
  "tags": []
}